disableStartupPopups: true
os:
  editPreset: "nvim"
git:
  # https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Pagers.md
  pagers:
    - pager: delta --dark --paging=never
      colorArg: always
