[user]
  email = craigerm@gmail.com
	name = Craig MacGregor

[init]
	defaultBranch = main

[core]
	autocrlf = input
  fileMode = false
  ignorecase = false
  excludesfile = ~/.gitignore
  pager = delta

[color]
	ui = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[grep]
	lineNumber = true

[color "branch"]
  current = yellow bold
  local = 179
  remote = 46

[color "status"]
  added = 154
  changed = 203
  untracked = 226
