[user]
  email = craigerm@gmail.com
  name = Craig MacGregor

[init]
  defaultBranch = main

[core]
	autocrlf = input
  fileMode = false
  ignorecase = false
  excludesfile = ~/.gitignore
  pager = delta
  editor = nvim

[color]
  ui = true

[delta]
  light = false
  navigate = true
  side-by-side = true
  features = "custom-theme"

[push]
  autoSetupRemote = true
  default = current

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
  wsErrorHighlight = all

[grep]
	lineNumber = true

[color "branch"]
  current = yellow bold
  local = 179
  remote = 46

[delta "custom-theme"]
  hunk-header-decoration-style = "#00b494" box ul
  file-decoration-style = "#FF0000"
  hunk-header-line-number-style = bold "#03a4ff"
  hunk-header-file-style = "#999999"
  hunk-header-style = file line-number syntax
  file-style = brightwhite
